<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Curso AngularJs</title>
    <link rel="stylesheet" href="../../Css/bootstrap.css" />
</head>
<body>
    <div class="container">
        <header>
            <div class="row">
                <div class="col-md-6 col-lg-6">
                    <h1>Curso AngularJs</h1>
                        <p class="lead">Reddit Tv</p>
                </div>
            </div>
        </header>
        <div class="app-container row" ng-app="redditTv" ng-controller="IndexCtrl">
            <div suma-resta valor-inicial="{{primerValor}}"></div>
        </div>
    </div>
    <!--lib-->
   <script type="text/javascript" src="../../Scripts/lib/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="../../Scripts/lib/angular.min.js"></script>    
    <!--app-->
    <script type="text/javascript">
        angular.module('directives',[])
            .directive('sumaResta', [
                function(){
                    var definition = {
                        restrict:'A',
                        replace:true,
                        template:'<div>' +
                            '<div class="row">' + 
                                '<span>Resultado: <strong>{{valor}}</strong></span>' + 
                            '</div>' + 
                            '<div class="row">' +
                                '<button ng-click="sumar()" class="btn btn-success">Sumar</button>' +
                                '<button ng-click="restar()" class="btn btn-danger">Restar</button>' +
                            '</div>' +
                        '</div>',
                        link:function(scope, element, attrs){
                            console.log(attrs);
                            scope.valor = parseInt(attrs.valorInicial);

                            scope.sumar = function(){
                                scope.valor++;
                            };

                            scope.restar = function(){
                                scope.valor--;
                            };
                        }
                    };
                    return definition;
                }
            ]);

        angular.module('controllers',[])
            .controller('IndexCtrl',['$scope', function(scope){
                scope.primerValor = 1;
            }
            ]);

        angular.module('redditTv',['controllers','directives']);
        
    </script>
</body>
</html>